@charset "UTF-8";

/* typical device Breakpoints 

Pequenas Tela: 600px.
Celular: de 600px até 768px.
Tablet: de 768px até 992px.
Desktop: de 992px até 1200px.
Extra large screens, TV – acima de 1200px.
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #03658C, #04BFBF  );
    }
    

    div#formulario > img#logo{
        margin-left: 120px;
        margin-top: 2px;
    }
    
    section#login{
        width: 80vw;
        height: 350px;
    }

    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
        background-size: 120%;
        background-color: black;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    .campo > input{
        width: 88%;
    }

    div#formulario > p{
        font-size: 1em;
        margin: 10px 15px;
    }

    div#formulario > h3{
        text-align: center;
        margin-top: -15px;
        font-size: 1.3em;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #03658C, #04BFBF  );
    }

    div#formulario > img#logo{
        margin-left: 150px;
        margin-top: 20px;
    }
    
    section#login{
        width: 950px;
        height: 450px;
    }

    section#login > div#imagem{
        float: left;
        width: 45%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 55%;
    }

    div#formulario > p{
        font-size: 1.2em;
        margin-top: 15px;
    }

    div#formulario > h3{
        font-size: 1.5em;
        margin-top: 10px;
    }

    .campo > input{
        width: 89%;
    }
}